<app-loading #loading></app-loading>
<app-error #error></app-error>
<ng-container>
    <div class="w-100 row p-0 m-0">
        <div class="col-12 p-3 row justify-content-start">
            <div class="card m-2" style="width: 12rem;" *ngFor="let show of nextToWatchShows">
                <img class="card-img-top" style="height: 13rem; object-fit: cover;" src="{{show.PosterURL}}" alt="{{show.Name}} Poster">
                <div class="card-body">
                    <h5 class="card-title d-flex flex-column">
                        <a [routerLink]="'/show/' + show.ShowId" class="customLink">
                            {{ show.Name }}
                        </a>
                        <a [routerLink]="'/show/' + show.ShowId + '/episode/' + show.EpisodeId" class="customLink text-nowrap mt-2">
                            S {{ show.SeasonNumber.toLocaleString('en-US', { minimumIntegerDigits: 2 }) }} | E {{ show.EpisodeNumber.toLocaleString('en-US', { minimumIntegerDigits: 2 }) }}
                        </a>
                    </h5>
                </div>
                <div class="card-footer text-white">
                    <a href="javascript:void(0)" 
                        class="btn btn-block btn-primary"
                        (click)="markAsWatched(show.ShowId, show.EpisodeId)">
                        Mark as Watched
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>