<app-loading #loading></app-loading>
<app-error #error></app-error>
<ng-container>
    <div class="w-100 row p-0 m-0">
        <div class="col-12 row align-items-center justify-content-center pt-5">
            <input type="text" 
                class="form-control-lg w-75" 
                id="search-box" 
                placeholder="Search" 
                [(ngModel)]="showSearchRequest.Name"/>

            <button class="btn btn-secondary form-control-lg ml-2" (click)="search()"><i class="fas fa-search"></i>Search</button>
        </div>
        <div class="col-12 mt-5 p-3 row justify-content-between">
            <div class="card" style="width: 12rem;" *ngFor="let show of listedShows">
                <img class="card-img-top" src="{{show.PosterURL}}" alt="{{show.ShowName}} Poster">
                <div class="card-body">
                    <h5 class="card-title">{{ show.ShowName }}</h5>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="totalSearchResultsCount > 0">
            <mat-paginator
                class="dark-mode text-white"
                (page)="goTo($event)"
                [length]="totalSearchResultsCount"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"
            ></mat-paginator>
        </div>
    </div>
</ng-container>