<app-loading #loading></app-loading>
<app-error #error></app-error>
<app-alertbox #alertBox (alertClosedEvent)="alertClosed($event)"></app-alertbox>

<div class="card card-widget">
    <div class="card-header">
      <div class="user-block">
        <img class="img-circle" [src]="comment.UserProfilePicture ?? '/assets/dummy-pp.jpeg'" alt="User Image">
        <span class="username"><a href="#">{{ comment.UserName }}</a></span>
        <span class="description">{{ comment.CommentDate | date: 'dd.MM.yyyy HH:mm' }}</span>
      </div>
      <!-- /.user-block -->
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" *ngIf="comment.IsUsersComment" class="btn btn-tool" (click)="deleteCommentButtonClicked(comment)">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <!-- post text -->
      <p>{{comment.CommentText}}</p>

      <span class="float-right text-muted row">
        <span class="d-flex flex-column align-items-center justify-content-center mr-2" *ngFor="let reaction of commentReactions">
            <i class="{{reaction.EmojiClassName}} {{reaction.IsUsersReaction ? 'text-warning' : ''}}"></i>
            <span>{{reaction.ReactionCount}}</span>
        </span>

        <a href="javascript:void(0)" (click)="showEmojiPopover()" [id]="'popoverBtn_' + comment.Id">
          <i class="fa fa-plus"></i>
        </a>
      </span>
    </div>
    <!-- /.card-body -->
    <div class="card-footer card-comments">
      <div class="card-comment" *ngFor="let childComment of childComments">
        <!-- User image -->
        <img class="img-circle img-sm" [src]="childComment.UserProfilePicture ?? '/assets/dummy-pp.jpeg'" alt="User Image">

        <div class="comment-text">
          <span class="username">
            <span>{{ childComment.UserName }}</span>
            <span class="text-muted m-0 float-right row align-items-center justify-content-center">
              <span>{{childComment.CommentDate | date:'dd.MM.yyyy HH:mm'}}</span>
              <button [ngClass]="{'disabled': disabled}" type="button" class="btn btn-tool m-0 float-right" (click)="deleteCommentButtonClicked(childComment)"><i class="fas fa-times"></i></button>
            </span>
          </span><!-- /.username -->
          {{ childComment.CommentText }}
        </div>
        <!-- /.comment-text -->
      </div>
      <div class="card-comment" *ngIf="!childComments || childComments.length === 0">
        <div class="comment-text">
          No Comments
        </div>
      </div>
      <!-- /.card-comment -->
    </div>
    <!-- /.card-footer -->
    <div class="card-footer">
      <img class="img-fluid img-circle img-sm" [src]="parent.userProfilePictureUrl ?? '/assets/dummy-pp.jpeg'" alt="Alt Text">
      <!-- .img-push is used to add margin to elements next to floating images -->
      <div class="img-push d-flex flex-row align-items-center justify-content-end">
        <input [disabled]="disabled" type="text" name="message" placeholder="Type Message ..." [(ngModel)]="commentText" class="form-control" />
        <button type="submit" class="btn btn btn-success ml-1" (click)="addComment()" [ngClass]="{'disabled': disabled}">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </div>
    <!-- /.card-footer -->
  </div>